@import "modules/colors";
@import "partials/typography";
@import "partials/default";
@import "partials/button";


.features {
    padding-bottom: 90px;
    text-align: center;
}

.features h3 {
    color: $dark-grey;
    font-weight: 600;
    font-size: 20px;
}

.features p {
    padding-left: 15px;
    padding-right: 15px;
}
