<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://pybossa.com",
  "logo": "https://pybossa.com/assets/img/seo/pybossa-square.png"
}
</script>
<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "PyBossa",
  "url" : "https://pybossa.com",
  "sameAs" : [ "https://www.twitter.com/pybossa",
    "https://plus.google.com/b/115359083217638640334/115359083217638640334"]
}
</script>
