<div class="container-fluid newsletter-signup">
    <div class="container">
        <!-- Begin MailChimp Signup Form -->
        <div class="row">
            <div class="col-md-12">
                <form action="http://pybossa.us3.list-manage.com/subscribe/post?u=d8094813b176dd353f94e8e8b&amp;id=ae2b69aa4c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
                    <div class="mc-field-group">
                        <div class="col-xs-12 col-sm-1 col-md-1">
                            <img src="/assets/img/nick-newsletter.png">
                        </div>

                        <div class="col-xs-12 col-sm-11 col-md-11" style="margin-top:15px">
                            <label for="newsletterSignup">
                                <h3>Stay tuned with PyBossa newsletter</h3>
                            </label>
                        

                            <input type="email" placeholder="name@example.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'name@example.com'" name="EMAIL" class="required email form-control" id="mce-EMAIL">

                            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Submit</button>
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_d8094813b176dd353f94e8e8b_ae2b69aa4c" value=""></div>
                    </div>
                    </div>

                    <div id="mce-responses">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                </form>
            </div>
        </div>
    </div>
</div>
