html, body {
    height:100%;
}

html {
    font: 100%/1.5 "open-sans",sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

body{
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 16px;
    color: #252D35;
    }
