p.title {
    font-weight: 600;
    color: $grey;
    padding-top: 40px;
    font-size: 16px;
    font-style: normal;
}

.padding-90 {
    padding-bottom: 90px;
}

.padding-top-90 {
    padding-top: 90px;
}
