$orange: rgba(245, 166, 35, 1);
$grey: rgba(37, 45, 53, 1);
$grey2: rgba(37, 45, 53, 0.9);
$light-grey: rgba(211, 211, 211, 1);

// SCIFABRIC COLORS
$sfb-dark-grey: rgba(20,67,82,1);
$sfb-grey: rgba(84,110,123, 1);
$sfb-bright-grey: rgba(201,216,223,1);
$sfb-semi-white: rgba(255,255,255,.5);
$sfb-white: rgba(255,255,255,1);
$sfb-blue-link: rgba(59,176,212,1);
$sfb-sciblue: rgba(8,125,161,1);
$sfb-grey-bg: rgba(67,88,97,1);
$sfb-quotes-bg: rgba(0, 151, 167, 1);
