---
layout: default
title: Blog
active: blog
body_class: blog
---
<div class="container blog_entries first-container">
	<div class="col-md-offset-1 col-md-10">
		<div class="row">
		<h2>Blog entries</h2>
		<ul class="share-social">
			<li class="share_on">Share on</li>
			<li>
				<a href="javascript:window.open('http%3A%2F%2Fwww.facebook.com%2Fshare.php%3Fu%3Dhttp%3A%2F%2Fpybossa.com{{ page.url }}', '_blank', 'width=500,height=450');void(0);" class="facebook">
					<i class="fa fa-facebook"></i>
					<span>Facebook</span>
				</a>
			</li>
			<li>
				<a href="javascript:window.open('https%3A%2F%2Ftwitter.com%2Fhome?status=http%3A%2F%2Fpybossa.com{{ page.url }}', '_blank', 'width=500,height=450');void(0);" class="twitter">
					<i class="fa fa-twitter"></i>
					<span>Twitter</span>
				</a>
			</li>
			<li>
				<a href="javascript:window.open('https%3A%2F%2Fplus.google.com%2Fshare?url=http%3A%2F%2Fpybossa.com{{ page.url }}', '_blank', 'width=500,height=450');void(0);" class="google-plus">
					<i class="fa fa-google-plus"></i>
					<span>Google+</span>
				</a>
			</li>
		</ul>
		</div>
		{% for post in site.categories.blog %}
		{% capture modulo %}{{ forloop.index0 | mod:2 }}{% endcapture %}
		{% if modulo == "0" %}
		<div class="row">
			{% endif %}
			<div class="col-md-6 post-entry">
				<a href="{{ post.url }}"><img src="{{ post.photo }}" width="100%"/></a>
				<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
				<p class="post-date">{{ post.date | date: "%-d %B %Y" }}</p>
				<p class="intro">{{ post.intro | strip_html | truncate: 150 }}</p>
				<a href="{{ site.prefix }}{{ post.url }}">Read more</a>
			</div>
			{% if modulo == "1" %}
		</div>
		{% endif %}
		{% endfor %}

		<!--<div class="post-nav">
			<a href="#" class="btn btn-small btn-default">Load more posts</a>
		</div> -->
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				
			</div>
		</div>
	</div>
</div>
