.batteries{
    background: white;
    text-align: center;

    p.claims {
        color: $dark-grey;
        font-size: 28px;
        font-style: italic;
        margin-bottom: -20px;
    }

    .swiper-container {
        height: 100px;
        padding-bottom: 30px;
    }
    .swiper-slide {
        color: $dark-grey;
        text-align: center;
        font-size: 28px;
        background: transparent;
        font-style: italic;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}
