.features {
    text-align: center;

    .row{
        margin-top: 35px;
    }

    .media {
        padding: 20px;
    }

    .claim {
        font-size: 20px;
        color: $dark-grey;
        font-weight: normal;
    }

    .media-heading {
        text-align: left;
        font-size: 20px;
        font-weight: 600;
        color: $dark-grey;
    }

    .media-description,
    .thumbnail-description{
        text-align: left;
        font-size: 16px;
        color: $grey;
    }

    .section-claim-bottom{
        margin-top: 60px;
        margin-bottom: 90px;
        font-size: 20px;
        text-align: center;
        font-weight: lighter;
        font-style: italic;
        color: $dark-grey;
    }

    .heart {
        padding-left: 5px;
        padding-right: 5px;
    }

}
