<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - PyBossa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{page.title}}{% endif %}">
    <meta name="author" content="SciFabric LTD">
    <meta name="copyright" content="SciFabric © 2016" />
    <meta name="application-name" content="PyBossa" />
    <!-- Bitly -->
    <meta name="bitly-verification" content="2377023aa0ff"/>
    <!-- Google verification -->
    <meta name="google-site-verification" content="NAoPwFvipgcBx6Z5vkKgHoAlCuqgDLugYCgf6Odl2gc" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.css" type="text/css" media="screen" title="no title" charset="utf-8">
    {% if page.css %}
    <link rel="stylesheet" href="/assets/css/{{page.css}}.css" type="text/css" media="screen" title="no title" charset="utf-8">
    {% endif %}

    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,200,200italic,300,700,700italic,900italic,900,300italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/animate.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.7/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.7/css/swiper.min.css">


    <!-- for Facebook -->          
    <meta property="og:title" content="{{page.title}} - PyBossa.com" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://pybossa.com/assets/img/seo/pybossa-square.png?x={{site.time | date: '%s'}}" />
    <meta property="og:url" content="http%3A%2F%2Fpybossa.com{{page.url}}" />
    <meta property="og:description" content="{{page.description}}" />

    <!-- for Twitter -->          
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@PyBossa" />
    <meta name="twitter:creator" content="@Scifabric" />
    <meta name="twitter:title" content="{{page.title}} - PyBossa.com" />
    <meta name="twitter:description" content="{{page.description}}" />
    <meta name="twitter:image:src" content="http://pybossa.com/assets/img/seo/pybossa.png?x={{site.time | date: '%s'}}" />

    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    {% include scroll.html %}
    
</head>

<body>
    {% include gtm.html %}
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}

    <script src="/assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/js/custom.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/js/slides.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/js/wow.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.7/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.7/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.7/js/swiper.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.7/js/swiper.jquery.min.js"></script>

    <script>
    new WOW().init();
    </script>
<script>
$('#presskit_en').on('click', function() {
  ga('send', 'event', 'button', 'click', 'presskit-en');
});
$('#presskit_es').on('click', function() {
  ga('send', 'event', 'button', 'click', 'presskit-es');
});
</script>
{% include microdata.html %}
</body>
</html>
